/* Setups: */
:root {
  /*Light Vars*/
  --light-primary: #512da8;
  --light-primary-dark: #311b92;

  --light-secondary: #0c4c7d;
  --light-secondary-dark: #1a237e;

  --light-primary-text: #191d20;
  --light-secondary-text: #30373b;
  --light-light-text: #f0f6f6;
  --light-secondary-light-text: #d3e1e1;

  --light-background: rgb(213, 224, 225);
  --light-input-color: #d1c4e9;

  --light-imglnk-cntnt: rgba(225, 234, 233, 0.648);

  /*Dark Vars*/
  --dark-primary: #1976d2;
  --dark-primary-dark: #0d47a1;

  --dark-secondary: #00796b;
  --dark-secondary-dark: #004d40;

  --dark-primary-text: #e6f5f5;
  --dark-secondary-text: #bccdd0;
  --dark-light-text: #eeeeee;
  --dark-secondary-light-text: #d1dfe2;

  --dark-input-color: rgb(85, 102, 112);
  --dark-background: #2d2d2d;

  --dark-imglnk-cntnt: rgba(41, 44, 44, 0.648);

  font-size: 1.2vw;
  font-family: "Varela Round", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 1.5em;
}

input,
textarea,
select {
  font: inherit;
  font-size: 0.7em;
  resize: none;
  color: var(--primary-text);
  background-color: var(--input-color);
  border-color: var(--primary-dark);
  border-style: solid;
  border-width: 0.15em;
  border-radius: 0.3em;
  padding: 0.5em;

  background-color: var(--input-color);
  border-color: var(--primary-dark);
}

input:hover,
textarea:hover,
select:hover {
  border-color: var(--primary);
}

input:hover,
select:hover {
  cursor: pointer;
}

input[type="text"]:hover,
input[type="mail"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover {
  cursor: text;
}

.box {
  -webkit-box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.8);
  padding: 1em;
  border-radius: 0.5em;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  color: var(--light-text);

  font: unset;
  font-size: 0.8em;
}

input[type="button"]:not(.button-secondary),
input[type="reset"]:not(.button-secondary),
input[type="submit"]:not(.button-secondary),
button:not(.button-secondary) {
  background-color: var(--primary);
}

input[type="button"]:not(.button-secondary):active,
input[type="reset"]:not(.button-secondary):active,
input[type="submit"]:not(.button-secondary):active,
button:not(.button-secondary):active {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary: var(--dark-primary);
    --primary-dark: var(--dark-primary-dark);
    --secondary: var(--dark-secondary);
    --secondary-dark: var(--dark-secondary-dark);
    --primary-text: var(--dark-primary-text);
    --secondary-text: var(--dark-secondary-text);
    --light-text: var(--dark-light-text);
    --secondary-light-text: var(--dark-secondary-light-text);
    --input-color: var(--dark-input-color);
    --background: var(--dark-background);

    --imglnk-cntnt: var(--dark-imglnk-cntnt);
  }
}

[color-scheme="dark"] {
  --primary: var(--dark-primary);
  --primary-dark: var(--dark-primary-dark);
  --secondary: var(--dark-secondary);
  --secondary-dark: var(--dark-secondary-dark);
  --primary-text: var(--dark-primary-text);
  --secondary-text: var(--dark-secondary-text);
  --light-text: var(--dark-light-text);
  --secondary-light-text: var(--dark-secondary-light-text);
  --input-color: var(--dark-input-color);
  --background: var(--dark-background);

  --imglnk-cntnt: var(--dark-imglnk-cntnt);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --primary: var(--light-primary);
    --primary-dark: var(--light-primary-dark);
    --secondary: var(--light-secondary);
    --secondary-dark: var(--light-secondary-dark);
    --primary-text: var(--light-primary-text);
    --secondary-text: var(--light-secondary-text);
    --light-text: var(--light-light-text);
    --secondary-light-text: var(--light-secondary-light-text);
    --input-color: var(--light-input-color);
    --input-other-color: var(--light-input-other-color);
    --background: var(--light-background);

    --imglnk-cntnt: var(--light-imglnk-cntnt);
  }
}

[color-scheme="light"] {
  --primary: var(--light-primary);
  --primary-dark: var(--light-primary-dark);
  --secondary: var(--light-secondary);
  --secondary-dark: var(--light-secondary-dark);
  --primary-text: var(--light-primary-text);
  --secondary-text: var(--light-secondary-text);
  --light-text: var(--light-light-text);
  --secondary-light-text: var(--light-secondary-light-text);
  --input-color: var(--light-input-color);
  --input-other-color: var(--light-input-other-color);
  --background: var(--light-background);

  --imglnk-cntnt: var(--light-imglnk-cntnt);
}

body {
  background-color: var(--background);
  color: var(--secondary-text);
  margin: 2vh 2vw;
}

main {
  padding: 1%;
}

footer {
  padding: 2%;
}

/* General: */
.align-center {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--secondary-text);
}

.link:hover,
.link:focus {
  color: var(--primary-text);
  outline: none;
  cursor: pointer;
  letter-spacing: 0.1ch;
}

.required:after {
  content: " *";
  color: red;
}

.title {
  color: var(--primary-text);
}

.subtext {
  display: inline-block;
}

.row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Navigation:*/
.nav {
  background-color: var(--primary);
  padding: 2%;
  border-radius: 20px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.3em;
}

.nav a {
  text-decoration: none;
  color: var(--secondary-light-text);
}

.nav a:hover,
.nav a:focus {
  text-decoration: none;
  color: var(--light-text);
  outline: none;
}

/* @media screen and (max-width: 1200px) {
  .nav {
    font-size: 0.7em;
  }
} */

.text-center {
  text-align: center;
}

.text-header {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-text);
}

.underline {
  text-decoration: underline;
}

.text-space {
  letter-spacing: 0.4ch;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.07em; /* defines the space between text and underline */
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0.07em;
  background-color: var(--primary-text);
  transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before,
.underline-hover-effect:focus::before {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.btn {
  -webkit-box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.9);
  box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.8);
  border-radius: 0.3em;
  padding: 0.3em;
  user-select: none;
}

.btn:hover {
  -webkit-box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.65);
  box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.btn:active {
  -webkit-box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.3);
  box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.3);
  color: var(--primary-text);
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.margin-bottom {
  margin-bottom: 1em;
}

.full-width {
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

a.btn {
  text-decoration: none;
}

.inherit-color {
  color: inherit;
}

.colorful-btn {
  background-color: var(--primary);
  -webkit-box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.9);
  box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.8);
  border-radius: 0.3em;
  padding: 0.3em;
  user-select: none;
  color: var(--secondary-light-text);
}

.colorful-btn:hover {
  -webkit-box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.65);
  box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.65);
  cursor: pointer;
  color: var(--light-text);
}

.colorful-btn:active {
  -webkit-box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.3);
  box-shadow: 0.05em 0.05em 0.2em 0.075em rgba(0, 0, 0, 0.3);
  color: var(--primary-text);
  color: var(--light-text);
}

.capitalize {
  text-transform: capitalize;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.error-message {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--background);
  direction: ltr;
}

.no-padding {
  padding: 0;
}

.f-p {
  margin-top: 0;
}

.clickable {
  cursor: pointer;
}

.button-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary-dark);
}

.button-secondary:hover {
  border-color: var(--secondary);
}

.button-secondary:active {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

/*ImageLink*/

.imglink-div {
  box-sizing: border-box;
  position: relative;
  width: auto;
  padding: 0;
  display: flex;
}

.imglink-content {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: var(--imglnk-cntnt);
  bottom: 0;
  border-radius: 0 0 0.5em 0.5em;
  color: var(--primary-text);
  padding: 0.5em;
  overflow: hidden;
  animation: fadeOut 0.5s cubic-bezier(0.65, 0.05, 0.29, 1);
  opacity: 0;
  height: 0;
}

.imglink-pic {
  aspect-ratio: auto;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 30%;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    height: 30%;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.imglink-div.preload > .imglink-content {
  animation: fadeOut 0s;
}

.imglink-div:hover > .imglink-content {
  animation: fadeIn 0.3s cubic-bezier(0.65, 0.05, 0.29, 1);
  opacity: 1;
  height: 30%;
}

/* Article: */
article h1 {
  margin: 0 0 0.2em 0;
  text-decoration: underline;
  font-size: 2rem;
}

article h2 {
  font-size: 1.3em;
}

article h5 {
  margin-top: 0;
  font-size: 0.7em;
  color: var(--primary-text);
  font-weight: normal;
}

.pic {
  width: 75%;
  height: auto;
  aspect-ratio: auto;
  margin-right: 2em;
  overflow: auto;
  padding: 0;
}

.article-parent {
  padding: 2em;
  display: grid;
  /* grid-template-columns: repeat(2, fit-content());
  grid-template-rows: repeat(3, fit-content()); */
  grid-column-gap: 0px;
  grid-row-gap: 1em;
  margin-bottom: 2em;
}

section.s1 {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}

section.s2 {
  grid-area: 2 / 1 / 3 / 2;
}

section.s3 {
  text-align: end;
  grid-area: 2 / 2 / 3 / 3;
}

section.s4 {
  grid-area: 3 / 1 / 4 / 3;
}
