:root {
  --primary: #6200ee;
  --primary-dark: #3700b3;
  --secondary: #03dac5;
  --primary-text: #263238;
  --secondary-text: #546e7a;
  --light-text: #d2e2e2;
  --secondary-light-text: #b1b1b1;

  font-size: 1.5em;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: rgb(45, 45, 45);
  }
  :root {
    --primary: #6200ee;
    --primary-dark: #3700b3;

    --secondary: #03dac5;

    --primary-text: #d2e2e2;
    --secondary-text: #abb9bf;
  }
}

body {
  color: var(--secondary-text);
}

nav {
  background-color: var(--primary);
  padding: 2%;
  border-radius: 20px;

  font-size: 1.2em;
}

main {
  padding: 1%;
}

.link {
  text-decoration: none;
  color: var(--secondary-text);
}

.nav-link {
  text-decoration: none;
  color: var(--light-text);
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
  color: var(--secondary-light-text);
}

.nav-link-container {
  text-align: center;
}

.title {
  color: var(--primary-text);
}

.link:hover,
.link:focus {
  color: var(--primary-text);
  outline: none;
}

.align-center {
  text-align: center;
}

.subtext {
  display: inline-block;
}

.youtube-video {
  aspect-ratio: 560 / 315;
  width: 100%;
}
.image {
  width: 100%;
}

footer {
  padding: 2%;
}
.nav-table {
  width: 100%;
}

.login-form {
  padding: 0 3%;
}

.row {
  display: flex;
}

.form-column {
  padding: 1%;
}

.hasLabel {
  flex: 10%;
}

.hasTextInput {
  flex: 90%;
}

.hasTextInput > input {
  width: 100%;
  height: 100%;
}

.submit-button {
  width: 100%;
  height: 100%;
}

.submit-button-container > .form-column {
  flex: 50%;
}
